@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SchoolEJournalWeb.Repository.Users
}


@using (Html.BeginForm("Update", "User", FormMethod.Post))
{
<div class="text-center">
    <h3> Dane, jakie możesz zmienić </h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SecondName)
            @Html.TextBoxFor(model => model.SecondName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input class="btn btn-primary" type="submit" value="Zaktualizuj" />
            <input class="btn btn-dark" type="button" value="Cofnij" href="@Url.Action("Index", "User")" />
        </div>
        </div>
    </div>        
}
