@{
	ViewData["Title"] = "Szczegóły grupy";
}
@model SchoolEJournalWeb.ViewModels.TeacherGradeGroupView

@using (Html.BeginForm("SaveGradeGroup", "Grade", Model, FormMethod.Post)) 
{
	<h2>@($"Oceny z {Model.GradeGroupName}")</h2>
	<h3>@($"{Model.SubjectName} ({Model.ClassName})")</h3>
	<label>Nowa nazwa grupy: </label>
	@Html.TextBoxFor(model => model.GradeGroupName, new { @class = "form-control" })
	<label>Waga: </label>
	@Html.TextBoxFor(model => model.GradeGroupWeight, new { @class = "form-control", @type = "number" })

	<ul>
		@for(int i = 0; i < Model.Grades.Count; i++)
		{
			<li>
				<label>@($"{Model.Grades[i].user.FirstName} {Model.Grades[i].user.LastName}")</label>
				<input name=@($"grade-{i}") type="number" class="form-control" min="1" value="@Math.Max(1, @Model.Grades[i].grade.Value)"/>
			</li>
		}
	</ul>

	<button class="btn btn-primary" type="submit">Zapisz zmiany</button>
	@Html.ActionLink("Powrót", "ShowGrades", "Grade", null, new { @class = "btn btn-secondary" });
}

